body {
  font-family: 'Karla', sans-serif;
}

.nav {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-right: 8vh;
  font-size: 1.25rem;
}

nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin: 3vh;
}

li:first-child {
  align-self: flex-end;
}

@media (max-width: 600px) {
  .nav {
    font-size: 1rem;
    margin-right: 0vh;
  }
}

.active {
  color: #514EFF;
}
