img {
    max-height: auto;
    max-width: 100%;
}

.image {
    /* margin-top: 5vh;
    margin-left: 30vh; */
    flex-basis: 45%;
    margin-left: 10vh;
    margin-right: 5vh;
    margin-top: 12vh;
}

.text {
    margin-top: 10vh;
    font-size: 1.5em;
    flex-basis: 40%;
    margin-left: 10vh;
}

a {
    text-decoration: none;
    color: #514EFF;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    flex-flow: row wrap; 
}

@media (max-width: 800px) {
    .text {
      font-size: 1rem;
      flex-basis: auto;
      margin-left: 5vh;
      margin-right: 5vh;
    }
    .image {
      flex-basis: auto;
      margin-top: 2vh;
      margin-left: 0vh;
      margin-right: 0vh;
      margin-bottom: 5vh;
    }
  }